.notebook {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
  }
  
  .cell {
    margin: 1px 0;
    padding: 1px;
    border-radius: 4px;
  }
  
  .cell.selected {
    border: 2px solid #64ffda;
    background-color: #2E3449;
  }
  
  .txt-lyric.selected {
    font-size: large;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .time-info {
    position: relative;
    left: -100px;
    font-family: monospace;
    font-size: large;
  }

  textarea {
    width: 100%;
    border-radius: 4px;
    font-family: monospace;
  }
  
  .txt-lyric {
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-54%);
    z-index: 1;
    margin-top: 10px;
    padding-left: 10px;
    font-size: large;
    font-family: monospace;
    background-color: #0a182e;
    width: 100vw;
  }
  
  .txt-note {
    margin-top: 10px;
    padding-left: 10px;
    font-size: large;
    background-color: rgba(0, 0, 0, 0);
  }
  
  pre {
    padding: 10px;
    border-radius: 4px;
  }
  
.cell.highlight {
  background-color: #64ffda;  
  transition: background-color 0.3s ease;
}
